<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- Navbar: 
         1) Simple - 404, home only
         2) Minimized navbar
            -Account pages
         
         3) #2 + account link
            -Crypto pages (table and cards)

            Tools
               -Cryptocurrencies (Damon's page)
               -Top Coins (Martin's page)
               -Coin News
               -Blog
            Signout
         
         4) Full header - gtg
            -Index page - gtg
            -Pricing - gtg
            -News - gtg
            -About - gtg
      -->

		<!-- Footer 
         1) Simple footer - 404 page only
         2) Full footer
         3) Account pages
      -->

		<!-- #4 -->
		<!-- Navbar -->
		<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
		<header
			class="header navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-light shadow-sm navbar-sticky"
		>
			<div class="container px-3">
				<a href="index.html" class="navbar-brand pe-3">
					<img src="./assets/logo.png" width="47" alt="Silicon" />
					Crypton
				</a>
				<div id="navbarNav" class="offcanvas offcanvas-end bg-dark">
					<div class="offcanvas-header border-bottom border-light">
						<h5 class="offcanvas-title text-white">Menu</h5>
						<button
							type="button"
							class="btn-close btn-close-white"
							data-bs-dismiss="offcanvas"
							aria-label="Close"
						></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a
									href="#"
									class="nav-link dropdown-toggle active"
									data-bs-toggle="dropdown"
									aria-current="page"
									>Account</a
								>
								<div class="dropdown-menu dropdown-menu-dark p-0">
									<div class="d-lg-flex">
										<div
											class="mega-dropdown-column bg-position-center bg-repeat-0 bg-size-cover rounded-3 rounded-end-0"
											style="background-image: url(assets/img/landings.jpg); margin: -1px"
										></div>
										<div class="mega-dropdown-column pt-lg-3 pb-lg-4">
											<ul class="list-unstyled mb-0">
												<li>
													<a href="./account-signin.html" class="dropdown-item"
														>Account details</a
													>
												</li>
												<li>
													<a href="./account-signin.html" class="dropdown-item">Security</a>
												</li>
												<li>
													<a href="./account-signin.html" class="dropdown-item"
														>Notifications</a
													>
												</li>
												<li>
													<a
														href="./account-signin.html"
														class="dropdown-item d-flex align-items-center"
														>Messages</a
													>
												</li>
												<li>
													<a href="./account-signin.html" class="dropdown-item"
														>Saved Items</a
													>
												</li>
												<li>
													<a href="./account-signin.html" class="dropdown-item"
														>My Collections</a
													>
												</li>
												<li>
													<a href="./account-signin.html" class="dropdown-item"
														>Payment Details</a
													>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>

							<li class="nav-item">
								<a href="./pricing.html" class="nav-link">Pricing</a>
							</li>

							<li class="nav-item">
								<a href="./rss-news-feed.html" class="nav-link">News</a>
							</li>

							<li class="nav-item">
								<a href="https://cryptowinterguys.github.io/blog/" class="nav-link">Blog</a>
							</li>

							<li class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
								<div class="dropdown-menu dropdown-menu-dark">
									<div class="d-lg-flex pt-lg-3">
										<div class="mega-dropdown-column">
											<ul class="list-unstyled mb-3">
												<li>
													<a href="./about-v2.html" class="dropdown-item py-1"
														>About Crypton</a
													>
												</li>
												<li>
													<a href="./contacts-v3.html" class="dropdown-item py-1"
														>Contact us</a
													>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="offcanvas-header border-top border-light">
						<a
							href="./account-signin.html"
							class="btn btn-primary w-100"
							target="_blank"
							rel="noopener"
							>Sign-in
						</a>
					</div>
				</div>
				<!-- Light/Dark theme toggle -->
				<div class="pe-lg-1 ms-auto me-4">
					<div class="form-check form-switch mode-switch" data-bs-toggle="mode">
						<input type="checkbox" class="form-check-input" id="theme-mode" />
						<label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
						<label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
					</div>
				</div>
				<button
					type="button"
					class="navbar-toggler"
					data-bs-toggle="offcanvas"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Sign-in button -->
				<a
					href="./account-signin.html"
					class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex"
					target="_blank"
					rel="noopener"
					>Sign-in
				</a>
			</div>
		</header>

		<!-- #2 -->
		<!-- Navbar -->
		<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
		<header
			class="header navbar navbar-expand-lg bg-light border-bottom border-light shadow-sm fixed-top"
		>
			<div class="container px-3">
				<a href="index.html" class="navbar-brand pe-3">
					<img src="./assets/logo.png" width="47" alt="Silicon" />
					Crypton
				</a>
				<div id="navbarNav" class="offcanvas offcanvas-end bg-dark">
					<div class="offcanvas-header border-bottom border-light">
						<h5 class="offcanvas-title text-white">Menu</h5>
						<button
							type="button"
							class="btn-close btn-close-white"
							data-bs-dismiss="offcanvas"
							aria-label="Close"
						></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a
									href="#"
									class="nav-link dropdown-toggle active"
									data-bs-toggle="dropdown"
									aria-current="page"
									>Tools</a
								>
								<div class="dropdown-menu dropdown-menu-dark p-0">
									<div class="d-lg-flex">
										<div class="mega-dropdown-column pt-lg-3 pb-lg-4">
											<ul class="list-unstyled mb-0">
												<li>
													<a href="./market-prices.html" class="dropdown-item"
														>Cryptocurrencies</a
													>
												</li>
												<li>
													<a href="./crypto-display.html" class="dropdown-item">Top Coins</a>
												</li>
												<li>
													<a href="./rss-news-feed.html" class="dropdown-item">Coin News</a>
												</li>
												<li>
													<a
														href="https://cryptowinterguys.github.io/blog/"
														class="dropdown-item d-flex align-items-center"
														target="_blank"
														rel="noopener"
														>Blog</a
													>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="offcanvas-header border-top border-light">
						<a href="./index.html" class="btn btn-primary w-100" target="_blank" rel="noopener"
							>Sign-out
						</a>
					</div>
				</div>

				<!-- Light/Dark theme toggle -->
				<div class="pe-lg-1 ms-auto me-4">
					<div class="form-check form-switch mode-switch" data-bs-toggle="mode">
						<input type="checkbox" class="form-check-input" id="theme-mode" />
						<label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
						<label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
					</div>
				</div>
				<button
					type="button"
					class="navbar-toggler"
					data-bs-toggle="offcanvas"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Sign-in button -->
				<a
					href="./index.html"
					class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex"
					rel="noopener"
					>Sign-out
				</a>
			</div>
		</header>

		<!-- full footer -->
		<!-- Footer -->
		<footer class="footer pt-5 pb-4 pb-lg-5 mt-lg-5 border-top border-light">
			<div class="container pt-lg-4">
				<div class="row pb-5">
					<div class="col-lg-4 col-md-6">
						<div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
							<img src="assets/logo.png" width="47" alt="Crypton" />
							Crypton
						</div>
						<p class="fs-sm pb-lg-3 mb-4">
							Proin ipsum pharetra, senectus eget scelerisque varius pretium platea velit. Lacus,
							eget eu vitae nullam proin turpis etiam mi sit. Non feugiat feugiat egestas nulla nec.
							Arcu tempus, eget elementum dolor ullamcorper sodales ultrices eros.
						</p>
						<form class="needs-validation" novalidate>
							<label for="subscr-email" class="form-label">Subscribe to our newsletter</label>
							<div class="input-group">
								<input
									type="email"
									id="subscr-email"
									class="form-control rounded-start ps-5"
									placeholder="Your email"
									required
								/>
								<i
									class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"
								></i>
								<div class="invalid-tooltip position-absolute top-100 start-0">
									Please provide a valid email address.
								</div>
								<button type="submit" class="btn btn-primary">Subscribe</button>
							</div>
						</form>
					</div>
					<div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
						<div id="footer-links" class="row">
							<div class="col-lg-4">
								<h6 class="mb-2">Useful links</h6>
								<div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
									<ul class="nav flex-column pb-lg-1 mb-lg-3">
										<li class="nav-item">
											<a href="./index.html" class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Home</a
											>
										</li>
										<li class="nav-item">
											<a
												href="./account-details.html"
												class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Account</a
											>
										</li>
										<li class="nav-item">
											<a href="./pricing.html" class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Pricing</a
											>
										</li>
										<li class="nav-item">
											<a
												href="./rss-news-feed.html"
												class="nav-link d-inline-block px-0 pt-1 pb-2"
												>News</a
											>
										</li>
										<li class="nav-item">
											<a
												href="https://cryptowinterguys.github.io/blog/"
												class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Blog</a
											>
										</li>
									</ul>
									<ul class="nav flex-column mb-2 mb-lg-0">
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Terms &amp; Conditions</a
											>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Privacy Policy</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<h6 class="mb-2">Follow Us</h6>
								<div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
									<ul class="nav flex-column mb-2 mb-lg-0">
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Facebook</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">LinkedIn</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Twitter</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Instagram</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
								<h6 class="mb-2">Contact Us</h6>
								<a href="mailto:hello@crypton.com" class="fw-medium">hello@crypton.com</a>
							</div>
						</div>
					</div>
				</div>
				<p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
					&copy; All rights reserved, 2022 to present, by Crypton
				</p>
			</div>
		</footer>

		<!-- simple footer -->
		<!-- Footer -->
		<footer class="footer pt-5 pb-4 pb-lg-5 mt-lg-5 border-top border-light">
			<div class="container pt-lg-4">
				<p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
					&copy; All rights reserved, 2022 to present, by Crypton
				</p>
			</div>
		</footer>

		<!-- account pages footer -->
		<!-- Footer -->
		<footer class="footer pt-5 pb-4 pb-lg-5 border-top border-light">
			<div class="container pt-lg-4">
				<div class="row pb-5">
					<div class="col-lg-4 col-md-6">
						<div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
							<img src="assets/logo.png" width="47" alt="Crypton" />
							Crypton
						</div>
						<p class="fs-sm pb-lg-3 mb-4">
							Proin ipsum pharetra, senectus eget scelerisque varius pretium platea velit. Lacus,
							eget eu vitae nullam proin turpis etiam mi sit. Non feugiat feugiat egestas nulla nec.
							Arcu tempus, eget elementum dolor ullamcorper sodales ultrices eros.
						</p>
						<form class="needs-validation" novalidate>
							<label for="subscr-email" class="form-label">Subscribe to our newsletter</label>
							<div class="input-group">
								<input
									type="email"
									id="subscr-email"
									class="form-control rounded-start ps-5"
									placeholder="Your email"
									required
								/>
								<i
									class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"
								></i>
								<div class="invalid-tooltip position-absolute top-100 start-0">
									Please provide a valid email address.
								</div>
								<button type="submit" class="btn btn-primary">Subscribe</button>
							</div>
						</form>
					</div>
					<div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
						<div id="footer-links" class="row">
							<div class="col-lg-4">
								<h6 class="mb-2">Useful links</h6>
								<div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
									<ul class="nav flex-column pb-lg-1 mb-lg-3">
										<li class="nav-item">
											<a href="./index.html" class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Home</a
											>
										</li>
										<li class="nav-item">
											<a
												href="./account-details.html"
												class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Account</a
											>
										</li>
										<li class="nav-item">
											<a href="./pricing.html" class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Pricing</a
											>
										</li>
										<li class="nav-item">
											<a
												href="./rss-news-feed.html"
												class="nav-link d-inline-block px-0 pt-1 pb-2"
												>News</a
											>
										</li>
										<li class="nav-item">
											<a
												href="https://cryptowinterguys.github.io/blog/"
												class="nav-link d-inline-block px-0 pt-1 pb-2"
												target="_blank"
												rel="noopener"
												>Blog</a
											>
										</li>
									</ul>
									<ul class="nav flex-column mb-2 mb-lg-0">
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Terms &amp; Conditions</a
											>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2"
												>Privacy Policy</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<h6 class="mb-2">Follow Us</h6>
								<div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
									<ul class="nav flex-column mb-2 mb-lg-0">
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Facebook</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">LinkedIn</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Twitter</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Instagram</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
								<h6 class="mb-2">Contact Us</h6>
								<a href="mailto:hello@crypton.com" class="fw-medium">hello@crypton.com</a>
							</div>
						</div>
					</div>
				</div>
				<p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
					&copy; All rights reserved, 2022 to present, by Crypton
				</p>
			</div>
		</footer>
	</body>
</html>
